<div class="container_small-card">
    <div class="container_small-card-content">
    <div class="small-card_photo">
        <img src="https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/ncom/software/switch/70070000017756/b17782f43960aea7f83e8a08a1244b9beed1e375fd8af8aa110398d5d3c930a4" 
        alt=""
        height="200px"
        srcset=""        
        >
    </div>

    <div class="small-card_title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>

    </div>

    <div class="container_small-card-separator">   
        <hr/>
    </div>
</div>
