
<app-menu-title></app-menu-title>
<div class="container_articles">
    <div class="articles_main">
        <app-big-card 
        Id="1"
        photoCover="https://sm.ign.com/ign_br/screenshot/default/mortal-kombat-1-dlc_71gs.jpg" 
        cardTitle="Anunciada a dlc de mk1"
        cardDescription="NetherRealm anuncia dlc de seu jogo, possuindo personagens famosos e queridos entre os fãs"
        >
    </app-big-card>
    </div>

    <div class="artiles_others">
        <app-small-card 
        Id="2"
        smallPhoto="https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/ncom/software/switch/70070000017756/b17782f43960aea7f83e8a08a1244b9beed1e375fd8af8aa110398d5d3c930a4"
        smallTitle="Mk1 é lançado"
        >
        </app-small-card> 

        <app-small-card
        Id="3"
        smallPhoto="https://cdn.ome.lt/KyzgJm9Rd6aSWZbsIj4Mk1nm79o=/1200x630/smart/extras/conteudos/JujutsuKaisen_S2.png"
        smallTitle="Nova temporada de Jujutsu Kaisen vem agradando o publico"
        >

        </app-small-card>

        <app-small-card
        Id="4"
        smallPhoto="https://inmagazine.ig.com.br/public/assets/img/postagens/post_38597.jpg"
        smallTitle="Vasco da Gama luta para não cair novamente para a série B"
        
        >

        </app-small-card>

    </div>

</div>
